@use "./scss/abstract/colors" as *;
@forward "./scss/base/reset";

* {
	&::selection {
		background-color: $hoverText;
	}
}
body {
	width: 100%;
	height: 100%;
	background-color: $mainbgcolor;
	font-family: "Inconsolata", monospace;
}
